*~
**/*~
**/**/*~

*.root
**/*.root
**/**/*.root

obj/

root_backups/

train

script.py

test

*.pyc
**/*.pyc
**/**/*.pyc

analysis/r_ssww.txt
analysis/h_ssww_ROC.pdf
analysis/plots

analysis_new/old_results.txt